# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs / outputs
logs/
outputs/
mlruns/

# Checkpoints / artifacts (MUST NOT be in git)
checkpoints/
artifacts/

# Data (MUST NOT be in git)
/data/
data_inference/

# DVC
.dvc/cache/


node_modules/
pytorch-captcha-recognizer.ipynb
mlflow.db
